{% extends "base.html" %}
{% block page_content %}
    <div class="row justify-content-center">
        <div class="modal-header text-center pt-5">
            <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        </div>
        <div class="col-4 pt-5">
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <p>Username</p>
                    <div class="input-group mb-3">
                        <input name="username" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <p>Password</p>
                    <div class="input-group mb-3">
                        <input name="password" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="d-grid pt-4">
                    <button type="submit" class="btn btn-success" value="Submit">Login</button>
                    </div>             
                </div>
            </form>
            <div class="row text-center pt-2">
            <a href="{% url 'signup' %}">Dont have an account?</a>
            </div>
        </div>
    </div>
{% endblock %}